**/*.swp
**/*/packer_compiled.lua
**/*/__pycache__
**/*/.git
**/*/node_modules

linux/.config/ObinsKit/Cache
linux/.config/ObinsKit/Code Cache
linux/.config/ObinsKit/GPUCache
linux/.config/ObinsKit/logs
linux/.config/ObinsKit/Local Storage/leveldb
linux/.config/ObinsKit/Session Storage
linux/.config/ObinsKit/Network Persistent State
linux/.config/ObinsKit/Cookies
linux/.config/ObinsKit/Cookies-journal
linux/.config/ObinsKit/Run.core
linux/.config/ObinsKit/remind-window-state.json
linux/.config/ObinsKit/window-state.json
linux/.config/broot/launcher
linux/.config/broot/select.toml
linux/.config/gh/hosts.yml
linux/.config/inkscape/extension-errors.log
linux/.config/pulse
linux/.config/retroarch/cheats
linux/.config/retroarch/database/rdb
linux/.config/retroarch/overlay
linux/.config/retroarch/shaders/shaders_glsl
linux/.config/retroarch/content_history.lpl
linux/.config/retroarch/autoconfig
linux/.config/scribus
linux/.config/Nextcloud/logs
linux/.config/Nextcloud/cookies0.db
linux/.config/Nextcloud/nextcloud.cfg.backup_20221125_075216_3.2.4git (build 6464)
linux/.config/Nextcloud/nextcloud.cfg.backup_20221130_182758_3.6.2 (build 12295)
linux/.config/Nextcloud/nextcloud.cfg.backup_20221225_183709_3.2.4git (build 6464)
linux/.config/Nextcloud/nextcloud.cfg.backup_20221225_211558_3.6.2 (build 12295)
linux/.config/Nextcloud/nextcloud.cfg
linux/.config/pavucontrol.ini
linux/.config/kritadisplayrc
linux/.config/QtProject.conf
linux/.config/xpad
linux/.config/xfce4/xfconf/xfce-perchannel-xml
linux/.config/xarchiver
linux/.config/vlc
linux/.config/transmission
linux/.config/teams
linux/.config/systemd/user/default.target.wants
linux/.config/smb
linux/.config/shadow
linux/.config/rncbc.org
linux/.config/remmina
linux/.config/proxy-torrent get-input
linux/.config/nitrogen
linux/.config/nextjs-nodejs
linux/.config/neofetch
linux/.config/mc
linux/.config/lite-xl
linux/.config/filezilla
linux/.config/libreoffice/4/user
linux/.config/libfm
linux/.config/jesseduffield/lazynpm
linux/.config/ibus/bus
linux/.config/google-chrome
linux/.config/github-copilot/hosts.json
linux/.config/ghb
linux/.config/flutter/tool_state
linux/.config/firefox/profil
linux/.config/felix
linux/.config/evolution
linux/.config/evince
linux/.config/eog
linux/.config/enchant
linux/.config/dconf
linux/.config/darktable
linux/.config/configstore
linux/.config/cmus
linux/.config/clipit
linux/.config/cef_user_data/WidevineCdm
linux/.config/brasero
linux/.config/bottom
linux/.config/blender/2.83/config/recent-files.txt
linux/.config/TabNine
linux/.config/Surfshark
linux/.config/Stashpad
linux/.config/Sizzy
linux/.config/Raspberry Pi
linux/.config/Mousepad
linux/.config/Microsoft/Microsoft Teams
linux/.config/JetBrains/IdeaIC2023.1/event-log-metadata/fus
linux/.config/Google/AndroidStudio2020.3
linux/.config/FontBase
linux/.config/Code - Insiders
linux/.config/BraveSoftware/Brave-Browser
linux/.config/Blackmagic Design
linux/.config/Android Open Source Project
